/* 헤더영역 */
.header_type3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.header_type3 h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

/* 상단 타이틀 */
.title-area {
  display: flex;
  justify-content: space-between;
}
.title-area h2, .title-area > button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #333333;
  position: relative;
}
.title-area > button {
  font-size: 1.3rem;
  font-weight: 400;
}
.title-area svg {
  display: inline-block;
  width: 1.5rem;
  cursor: pointer;
}

/* 계악서 툴팁 */
.title-area svg + span {
  font-size: 1.2rem;
  font-weight: 400;
  width: 200px;
  background-color: #333333;
  color: white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  display: none;
  transition: all opacity 0.3s;
}
.title-area svg + span::after {
  content: '';
  position: absolute;
  top: -30%;
  left: 37%;
  margin-left: -5px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}
.title-area svg:hover + span {
  display: block;
}

/* 계약서 리스트 */
.contract-list {
  padding: 30px 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333333;
}
.contract-list > ul > li {
  padding: 20px 0 20px 6rem;
  background: url(./common/img/grey_circle.svg) no-repeat 0 center;
  cursor: pointer;
}
.contract-list > ul > li.on {
  background: url(./common/img/blue_circle.svg) no-repeat 0 center;
}

/* 호버 이벤트 */
.contract-list > ul > li:hover {
  transition: color 0.3s;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
  .contract-list > ul > li { 
    font-size: 1.3rem
  }
  .title-area svg + span {
    left: 69px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
  .title-area svg + span {
    left: 43px;
  }
}