/* 헤더영역 */
.header_type3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.header_type3 h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

/* 메인 */
main {
  padding-bottom: 10rem;
}
.inquiry-history > ul > li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  border-bottom: 1px solid #F7F7F7;
  padding: 20px 0;
}
.inquiry-history > ul > li > p {
  width: 55%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333333;
}
.inquiry-history > ul > li > span:nth-of-type(1) {
  margin-left: 11rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #EC4E39;
}
.inquiry-history > ul > li.complete > span:nth-of-type(1) {
  color: #3DB15B;
}
.inquiry-history > ul > li > button {
  width: 18px;
  height: 25px;
  cursor: pointer;
}
.inquiry-history > ul > li > div {
  flex-basis: 100%;
}
.inquiry-history > ul > li > div > span:first-child {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #999999;
}
.inquiry-history > ul > li > div > button {
  padding-left: 2rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #999999;
  cursor: pointer;
}

/* 답변 내용 */
.answer {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
  border-radius: 10px;
  min-height: 109px;
  background-color: #F8F9FB;
  padding: 15px 15px 40px;
  margin: 10px 0;
  position: relative;
}
.answer > span {
  position: absolute;
  color: #999999;
  font-size: 1.2rem;
  right: 6px;
  bottom: 5px;
}

/* 하단 버튼 */
footer {
  margin: auto 0 20px;
}
footer > button {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  height: 48px;
  background-color: var(--main-color);
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}
footer > button:last-child {
  border: 1px solid  var(--main-color);
  background-color: white;
  color: var(--main-color);
  margin-top: 1rem;
}

/* 미디어쿼리 */
@media screen and (max-width : 767px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width : 500px) {
  html {
    font-size: 45%;
  }
}