/* 헤더 영역 */
.header_type3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.header_type3 h1 {
  font-size: 1.6rem;
  font-weight: 600;
} 

/* 메인 */
.icon {
  position: relative;
  margin: 4rem 0;
}
.icon > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  margin: 0 auto;
}
.icon > div > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.icon > div > img, .icon > div > label {
  cursor: pointer;
}
.icon > div > label {
  position: absolute;
  right: 25px;
  top: 60px;
}
.member-infor > ul > li {
  padding: 20px 0;
  position: relative;
}
.member-infor > ul > li > h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 5px;
} 
.member-infor > ul > li > input {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ababab;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  background-color: #F8F9FB;
  pointer-events: none;
  padding-left: 10px;
}
.member-infor > ul > li > button > img {
  position: absolute;
  right: 15px;
  top: 55%;
  width: 3rem;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
}